*{
    background-color: beige;
}

img {
    width: 200px;
    height: 200px;
}

h2 {
    font-weight: normal;
}

#red {
    color: red;
}
#green {
    color: green;
}
#blue {
    color: blue;
}
#yellow {
    color: yellow;
}